.userPhoto {
    display: block;
    width: 150px;
    height: 180px;
}

.divLike {
    display: block;
}

.buttonLike {
    margin: 10px 0px;
    display: inline-block;
    color: green;
    font-weight: 700;
}

.nonSelectedPage {
    border-bottom: 1px solid black;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
}

.selectedPage {
    font-weight: bold;
    font-size: 30px;
}

.progress {
    display: block;
    position: absolute;
    margin: 150px 220px;
    width: 100px;
    height:100px;
}

.noProgress {
    display: none;
}