.nav {
    grid-area: n;
    background-color: burlywood;
    padding: 20px;
  }

.item {
  cursor: pointer;
  
}

.active {
  cursor: pointer;
}

.item a {
  color: white;
  text-decoration: none;
}

.item a.active {
  color: gold;
}

.friend {
  margin-top: 20px;
  color: white;
  font-size: 26px;
  border: solid 1px black;
}

.friendItem {
  margin-right: 10px;
  display: inline-block;
}