.app-wrapper {
  display: grid;
  width: 1355px;
  margin: 0 auto;

  grid-template-areas: 
  "h h"
  "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
} 

.image {
  width: 1200px;
  height: 200px;
}

.app-wrapper-content {
    grid-area: c;
    background-color: cornflowerblue;
}