.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
    color: red;
}

.dialogsItems .active {
    color: gold;
}

.messages {
    height: 20px;
    width: 200px;
    padding: 10px;
    color: white;
}

.messageBlock {
    /* border: white solid 1px; */
    height: 250px;
    width: 400px;
    /* background-color: red; */
}

.messageSimple {
    border: rgb(7, 7, 7) solid 1px;
    height: 20px;
    width: 400px;
    margin: 5px;
    padding: 5px;
}
.dialog {
    color: red;
}

.img {
    border-radius: 50%;
    margin-right: 10px;
}

.newMessage {
    margin-top: 20px;
    margin-left: 15px;
}